html {
  background-color: #5f45bb;
  background-image: linear-gradient(to bottom right, #000000, #ffffff4f);
  color: #fff;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  min-height: 100vh;
  min-width: 300px;
  overflow-x: hidden;
  text-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

a {
  color: currentColor;
  cursor: pointer;
  text-decoration: none;
}

.wallpaper {
  display: block;
  height: 100%;
  left: 0;
  right: 0;
  width: 100%;
  background-image: url("https://scontent.fcgp3-1.fna.fbcdn.net/v/t39.30808-6/293507964_585508823091546_1236368292961393868_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=e3f864&_nc_eui2=AeG_VA81GBu9P3Xf-fjdA-0NyIgtuSAWe1fIiC25IBZ7VyJa6Zn3q88NWEh1UoFSx7EiqFQpt0McGzvUSEpOyiMH&_nc_ohc=Z66xoEFd9K8AX9JhXR7&_nc_oc=AQmxRvHkegI89nJBb_uWCq__lQuOWjR_3Hjw9GyFYsB80gAihg7twAkiAWmlypoBDVs&tn=f4Cs_93CNAQAzoDw&_nc_ht=scontent.fcgp3-1.fna&oh=00_AT9zIQwfEtulkzraDnsDFF7F5dSLb_MH2PW1sYx73w-_7g&oe=631DC263");
  background-position: center;
  background-size: cover;
  opacity: 0.1;
  position: fixed;
}
.content {
  display: flex;
  position: relative;
  min-height: 100vh;
}
.side {
  max-height: 20rem;
  max-width: 20rem;
}
.about {
  max-width: 26rem;
}

@media screen and (max-width: 799px) {
  .content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 3rem;
  }
  .side {
    margin-bottom: 3rem;
    width: 100%;
  }
}

@media screen and (min-width: 800px) {
  .content {
    padding: 4rem;
    /* justify-content: space-around; */
    justify-content: space-evenly;
    align-items: center;
  }
  .side {
    /* flex-grow: 0; */
    flex-shrink: 0;
    height: 20rem;
    margin-left: 4rem;
    order: 2;
    width: 20rem;
  }
  .about {
    flex-grow: 1;
    flex-shrink: 1;
  }
}

.wallpaper,
.picture-shadow,
.picture-image {
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

.picture {
  padding-top: 100%;
  position: relative;
  width: 100%;
}
.picture-shadow {
  border-radius: 290486px;
  background-image: radial-gradient(#000 0%, rgba(0, 0, 0, 0) 70%);
  position: absolute;
  top: 10%;
}

.picture-image {
  border-radius: 290486px;
  position: absolute;
}

.name {
  font-size: 2.25rem;
  line-height: 1.125;
  margin-bottom: 0.5rem;
}

.job,
.button {
  font-family: "Montserrat", "Quicksand", sans-serif;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.job {
  color: #ffe479;
  font-size: 0.75rem;
}

.hr {
  background-color: #ff470f;
  border: none;
  content: "";
  height: 1px;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  transform-origin: center left;
  width: 4rem;
}

.description {
  font-size: 1.5rem;
}

.contact {
  display: inline-block;
  margin-top: 1.5rem;
  vertical-align: top;
}

.button,
.social a {
  transform-origin: center;
  transition-duration: 100ms;
}
.button {
  background-color: #fff;
  border-radius: 290486px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  color: #9013fe;
  display: inline-block;
  font-size: 0.875rem;
  line-height: 1;
  padding: 1.25em 2em;
  text-shadow: none;
  transition-property: box-shadow, transform;
  user-select: none;
  vertical-align: top;
  white-space: nowrap;
  will-change: box-shadow, transform;
}

.button:hover {
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
  transform: scale(1.02) translateY(-4px);
}
.button:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  transform: scale(0.98) translateY(-2px);
}

.social {
  display: flex;
  margin-top: 1.5rem;
}

.social li {
  height: 2rem;
  margin-right: 0.5rem;
  text-align: center;
  width: 2rem;
}

.social a {
  align-items: center;
  display: flex;
  font-size: 1.5rem;
  height: 2rem;
  justify-content: center;
  opacity: 0.5;
  transition-property: opacity, transform;
  width: 2rem;
  will-change: opacity, transform;
  box-shadow:
  1.3px 12.1px 13.8px rgba(0, 0, 0, 0.129),
  2.3px 21px 33.3px rgba(0, 0, 0, 0.186),
  3.3px 29.9px 62.6px rgba(0, 0, 0, 0.23),
  4.5px 40.9px 111.7px rgba(0, 0, 0, 0.274),
  6.3px 57.7px 208.9px rgba(0, 0, 0, 0.331),
  11px 100px 500px rgba(0, 0, 0, 0.46)
;
}

.social a:hover {
  opacity: 1;
  transform: scale(1.25);
}

.social a:active {
  opacity: 1;
  transform: scale(1.1);
}
#pp{
  color: #9013fe;
  font-family: "Montserrat", "Quicksand", sans-serif;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  

}

#pp:hover {
  opacity: 1;
  transform: scale(1.05);
}